# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


.venv/
.venv-waymo/
venv/
ENV/
env/

# UV
.uv/
uv.lock

# Conda
*.conda
*.tar.bz2

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb


.cache/
*.log


*.pth
*.pt
*.ckpt
*.safetensors
data/
data_/
data_sample/
outputs/
logs/
wandb/


*.tmp
tmp/
temp/


.ruff_cache/
checkpoints/

visualization/

.premature_checkpoints

slurm/
slurm_out/
models/