include_configs:
  - ./train/diffusion/diffusion_16x16x16_dense.yaml
  - dataset.yaml

name: 'release/waymo_wds'

vae_config: infinicube/voxelgen/configs/vae_64x64x64_height_down2_vs02_dense_residual.yaml
vae_checkpoint: checkpoints/vae_epoch7_step6250.ckpt

# data
train_kwargs: 
  wds_scene_list_file: "infinicube/assets/waymo_split/official_train_w_dynamic_w_ego_motion_gt_30m_good_voxel.json" 
  frame_end_num: 110 # some waymo clips have bad alignment after 100 frames
val_kwargs:
  wds_scene_list_file: "infinicube/assets/waymo_split/official_val_w_dynamic_w_ego_motion_gt_30m_good_voxel.json" 
accumulate_grad_batches: 4
batch_size: 2
batch_size_val: 1
voxel_size: 0.2
use_fvdb_loader: true
_attr_subfolders: ['pose', 'pc_with_map_without_car_voxelsize_01', 'intrinsic', 'static_object_info',
                  'dynamic_object_info', 'dynamic_object_points_canonical',
                   '3d_road_edge_voxelsize_025', '3d_road_line_voxelsize_025', '3d_road_surface_voxelsize_04']
_fvdb_grid_type: 'vs02'
finest_voxel_size_goal: 'vs02'
_input_slect_ids: [0]
_input_frame_offsets: [0]
_sup_slect_ids: [0]
_sup_frame_offsets: [0]
grid_crop_bbox_min: [-25.6, -25.6, -6.4]
grid_crop_bbox_max: [25.6, 25.6, 19.2]
grid_crop_augment: true
grid_crop_augment_range: [3.2, 3.2, 0.8]
replace_all_car_with_cad: true

# adjust input setting - use semantic and intensity
use_input_normal: false
use_input_semantic: true
use_input_intensity: false
num_semantic: 23
dim_semantic: 32

# condition
conditioning_key: concat_scube_general
use_pos_embed: true
use_map_3d_cond: true
use_box_3d_cond: true
use_classifier_free: true

# condition
map_types: ['road_edge', 'road_line', 'road_surface']


network:
  diffuser:
    image_size: 64 # use during testing. may not need this
    attention_resolutions: [4, 8]
    model_channels: 192 
    num_res_blocks: 2
    channel_mult: [1, 2, 4, 4]
    num_heads: 8
    use_scale_shift_norm: True
    resblock_updown: True
    transformer_depth: 12
    middle_disable_first_sa: True
    middile_force_spatial_transformer: True

  map_3d_cond_model:
    target: MapEncoder
    params:
      cube_bbox_size: 64
      use_embedding: false
      map_types: ${map_types}
      embedding_dim: 1

  box_3d_cond_model:
    target: Box3dEncoder
    params:
      cube_bbox_size: 64
