include_configs:
  - ./train/gsm/gsm.yaml
  - ./train/gsm/dual_branch_backbone.yaml
  - dataset.yaml

name: 'release/waymo_wds'

# data
train_kwargs:
  wds_scene_list_file: 'infinicube/assets/waymo_split/official_train_static_scene.json'
val_kwargs:
  wds_scene_list_file: 'infinicube/assets/waymo_split/official_val_static_scene.json'

_attr_subfolders: ['pose', 'pc_voxelsize_01', 'intrinsic', 'static_object_info',
                  'dynamic_object_info', 'dynamic_object_points_canonical',
                  'image_480p_front', 'skymask_480p_front',
                   '3d_road_edge_voxelsize_025', '3d_road_line_voxelsize_025', '3d_road_surface_voxelsize_04']
_fvdb_grid_type: 'vs02'
finest_voxel_size_goal: 'vs02'
_input_slect_ids: [0]
_input_frame_offsets: [0]
_sup_slect_ids: [0]
_sup_frame_offsets: [0,2,5,7,10]
grid_crop_bbox_min: [0, -40, -12.8]
grid_crop_bbox_max: [153.6, 40, 38.4]
replace_all_car_with_cad: false # do not use CAD for gsm training
sup_depth_type: voxel_depth
input_depth_type: null


# encoder module
encoder:
  resize_projection_input: false
  
  encoder_modules: ['dav2']

  # depth anything v2 feature extractor
  dav2_params:
    depth_anything_model: 'depth-anything/Depth-Anything-V2-Large-hf'
    model_freeze: true
    target_input_size: [280, 420]
    out_dim_list: [128, 32]
    out_upsample_list: [true, true]
    out_downsample_list: [false, false]
    out_use_gn_list: [false, false]


# sky module
model_midground: true
use_skybox: true
skybox_target: 'mlp_modulator'
skybox_feature_source: 'original_rgb'
# skybox_feature_source: 'conv'
skybox_forward_sky_only: true  # no use.
skybox_net: 'decode-3' # enable visualization
skybox_mlp_modulator:
  patch_size: 16
  num_heads: 4
  embed_dim: 192
  hidden_channels: 192
  out_channels: 3
  sky_token_encoding_type: transformer

  sky_image_embedder_type: mlp
  modulator_pos_embedding: mlp

  # sky_token_encoding_type: transformer
  transformer:
    num_layers: 4
    dim_feedforward: 384
    activation: gelu


backbone:
  params:
    use_3d: false
    use_2d: true


depth_weight: 8
render_weight: 1.0 
alpha_weight: 1.0
perceptual_weight: 0.5
perceptual_start_epoch: 0
use_ssim_loss: true
perceputal_resize_height: 480
supervise_image_resize: [480, 832]
supervision:
  depth_supervision_format: 'weight' 
  z_near: 0.5
  z_far: 300
